.championAbility {
  &_passive div {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__listItem {
    &-selected {
      border: 1px solid black;
    }
  }

  &__list div {
    margin-bottom: 10px;
  }

  &_title div {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .championAbility {
    &_passive img {
      height: 50px;
      width: 50px;
    }

    &__detail img {
      height: 50px;
      width: 50px;
    }
  }
}
