.championAbility {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(245, 238, 238, 0.177);

  &_passive {
    border-bottom: 1px solid rgba(245, 238, 238, 0.177);

    div {
      margin-bottom: 10px;
    }
  }

  &_fullSection {
    display: flex;
    justify-content: space-between;
    min-height: 400px;
  }

  &_fullSection > * {
    flex-basis: 100%;
  }

  &_video {
    min-height: 400px;
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__list div {
    margin-bottom: 10px;
  }

  &__listItem {
    &-selected {
      border-bottom: 2px solid red;
    }
  }

  &_title {
    div {
      display: grid;
      margin-bottom: 10px;
    }

    span {
      font-weight: 200;
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .championAbility {
    &_fullSection {
      display: flex;
      flex-direction: row-reverse;
      align-content: end;
      flex-wrap: wrap-reverse;
      padding: 0px;
    }

    &_textSection {
      margin-top: 15px;
      min-height: 370px;
    }

    &_video {
      max-height: 490px;
    }

    &__list {
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .championAbility {
    font-size: 10px;
    &_passive img {
      min-height: 50px;
      min-width: 50px;
      margin-bottom: 15px;
    }

    &_fullSection {
      display: flex;
      flex-direction: row-reverse;
      align-content: end;
      flex-wrap: wrap-reverse;
      padding: 0px;
    }

    &_textSection {
      margin-top: 8px;
      min-height: 390px;
    }

    &_video {
      min-height: 260px;
    }

    &_fullSection > * {
      flex-basis: 100%;
    }

    &__list {
      justify-content: space-between;
      gap: 35px;
      img {
        height: 50px;
        width: 50px;
      }
    }

    &__detail img {
      min-height: 50px;
      min-width: 50px;
    }
  }
}
