.championCard {
  position: relative;
  width: 170px;
  min-height: 310px;
  margin: 2em;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: transform 0.6s;

  &_pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_pic .first-pic {
    max-width: 100%;
    max-height: 100%;
  }

  &_pic .hover-pic {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    animation: fadeInAnimation ease 0.6s;
  }

  &_name {
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: 1px solid #937341;
    padding: 10px;
    background-color: rgba(225, 220, 220, 0.9);
  }

  & a {
    text-decoration: none;
  }

  &:hover {
    transform: scale(0.95);
    transition: all 0.6s;
  }

  &:hover .championCard_pic .hover-pic {
    display: inline;
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .championCard {
    width: 200px;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
