.modaltips {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;

  span {
    display: block;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .line {
    border-left: 1px solid rgba(128, 128, 128, 0.499);
    margin: 5px;
    height: auto;
  }
}

@media only screen and (max-width: 670px) {
  .modal {
    display: none;
  }
}
