.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  margin: 20px 40px;
  border: 1px solid rgb(199, 193, 193);

  &_search {
    display: flex;
    gap: 5px;

    input {
      border: hidden;
    }

    input:focus {
      outline: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    }
  }

  &_roles {
    display: flex;
    gap: 10px;

    .role {
      border-bottom: 2px solid transparent;
      color: rgb(144, 133, 133);
    }

    .role-selected {
      border-bottom: 2px solid black;
      color: black;
    }
  }
}

@media only screen and (max-width: 670px) {
  .bar {
    &_search {
      .icon {
        display: none;
      }
    }
    &_roles {
      div {
        display: none;
      }

      &-expanded {
        display: block;
      }
    }
  }
}
