.champDetail {
  max-width: 1300px;
  margin: 10px auto;
  padding: 0 20px;

  & > * {
    margin: 0px 70px;
  }

  &_name {
    display: grid;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;

    .nickname {
      padding-top: 10px;
      font-size: 20px;
    }

    .firstname {
      font-weight: bold;
      font-size: 70px;
    }

    fieldset {
      text-align: center;
      border: 1px solid rgba(151, 145, 145, 0.5);
      margin: 5px auto;
    }

    legend {
      font-weight: bold;
      font-size: 20px;
      padding: 0 10px;
    }
  }

  &_info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;

    .role {
      display: grid;
      text-align: center;
      gap: 5px;
      margin: auto 0;
    }

    .line {
      border-left: 1px solid rgba(128, 128, 128, 0.499);
      height: auto;
    }

    .lore {
      margin: auto 0;
      max-width: 600px;
    }
  }

  &_abilities {
    margin-top: 10px;
  }

  &_abilitySet {
    display: flex;
  }
}

@media only screen and (max-width: 670px) {
  .champDetail {
    text-align: justify;
    &_tips {
      display: none;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .champDetail {
    & > * {
      margin: 0px 20px;
    }

    &_info {
      display: grid;

      .role {
        display: grid;
        text-align: center;
        margin: auto 0;
      }

      .line {
        height: 0;
        width: 50%;
        margin: 0 auto;
        border-bottom: 1px solid rgba(128, 128, 128, 0.499);
      }

      .lore {
        padding-top: 5px;
      }

      border-bottom: 1px solid rgba(245, 238, 238, 0.177);
    }

    &_name {
      legend {
        font-weight: bold;
        font-size: 15px;
        padding: 0 5px;
      }

      .nickname {
        font-size: 15px;
      }

      .firstname {
        font-weight: bold;
        font-size: 40px;
      }
    }

    &_tips {
      display: none;
    }
  }
}
