.champDetail {
  background-color: black;
  color: white;

  margin: 10px;

  &_name {
    text-align: center;
  }

  &_image {
    margin: 0 100px;
  }

  img {
    height: auto;
    width: auto;
  }

  &_abilities {
    margin-top: 10px;
  }

  &_abilitySet {
    display: flex;
  }
}
