.champDetail {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0 20px;
  // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  &_name {
    display: grid;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;

    .firstname {
      font-weight: bolder;
      font-size: 70px;
    }

    fieldset {
      text-align: center;
      border: 1px solid rgba(151, 145, 145, 0.5);
      margin-top: 15px;
    }

    legend {
      font-weight: bold;
      font-size: 20px;
      padding: 0 10px;
    }
  }

  &_video {
    border: 2px solid white;
  }

  &_info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(245, 238, 238, 0.177);

    .role {
      display: grid;
      text-align: center;
      gap: 5px;
      margin: auto 0;
    }

    .line {
      border-left: 1px solid rgba(128, 128, 128, 0.499);
      height: auto;
    }

    .lore {
      margin: auto 0;
      text-align: justify;
    }
  }

  &_abilities {
    margin-top: 10px;
  }

  &_abilitySet {
    display: flex;
  }
}

@media only screen and (max-width: 670px) {
  .champDetail {
    text-align: justify;
    &_tips {
      display: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  .champDetail {
    &_info {
      display: grid;

      .role {
        display: grid;
        text-align: center;
        margin: auto 0;
      }

      .line {
        height: 0;
        width: 50%;
        margin: 0 auto;
        border-bottom: 1px solid rgba(128, 128, 128, 0.499);
      }

      border-bottom: 1px solid rgba(245, 238, 238, 0.177);
    }

    &_name {
      legend {
        font-weight: bold;
        font-size: 15px;
        padding: 0 5px;
      }

      .firstname {
        font-weight: bolder;
        font-size: 40px;
      }
    }

    &_tips {
      display: none;
    }
  }
}
