.champSkinList {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 500px;

  & img {
    width: 100%;
    height: 500px;
  }

  .skin-name {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    bottom: 5px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%;
    padding: 15px 0 20px 0;
  }

  .not-active {
    opacity: 0;
    transition-duration: 1s ease;
  }
  .active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.01);
  }
}

.arrows {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .champSkinList {
    min-height: 250px;

    & img {
      width: 100%;
      height: 250px;
    }
  }
}
